# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Data files
*.parquet

# Logs
*.log

.env

# IDE config
.vscode/
.idea/

# Mac / Linux system files
.DS_Store

datalake/dataset/Political/Global Political tweets/Political_tweets.csv
# Coverage reports
.coverage
.coverage.*
htmlcov/
coverage.xml
pytest.xml
pytest-coverage.txt
*.pt
*.csv
*.model