gensim
torch
pandas
numpy
scikit-learn
matplotlib
emoji
tweepy
dotenv
pyarrow
flask
transformers
accelerate
psycopg2-binary
werkzeug
boto3
sagemaker
sentencepiece
protobuf
tiktoken
pytest
pytest-cov
marshmallow
flask-limiter
openai
peft
seaborn
wandb
tensorboard
modal
datasets
